.registerContainer {
  width: 300px;
  overflow: hidden;
}

.register {
  display: flex;
  width: 900px;
  position: relative;
  transition: all 800ms ease-in-out;
  &__registerButton {
    width: 100%;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    & button {
      color: #ffffff;
      text-transform: uppercase;
      background: #000047;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
.slide--0 {
  transform: translate(0px, 0px);
}
.slide--1 {
  transform: translate(-300px, 0px);
}
.slide--2 {
  transform: translate(-600px, 0px);
}
