.button-row {
  display: flex;
  gap: 20px;

  &--center {
    justify-content: center;
  }
}

.button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
  white-space: nowrap;

  &--underlined,
  &--back {
    font-weight: 700;
    line-height: .75;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap;

    &--black {
      color: $color__branding-black;
    }

    &--white {
      color: $color__branding-white;
    }

    &--yellow {
      color: $color__branding-yellow;
    }
  }

  &--back {
    @include font-size(15);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &--filled {
    @include font-size(14);
    border: none;
    letter-spacing: .14em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    display: inline-flex;
    padding: 1.5em 2em;
    clip-path: polygon(1.5em 0, 100% 0, 100% 100%, 0% 100%, 0 1.5em);
    background-size: 300% 100%;
    background-position: right center;
    transition: .5s ease;
    gap: 10px;

    @include breakpoint(374px) {
      @include font-size(12);
    }

    &:hover {
      background-position: left center;
    }

    &--black {
      background-image: linear-gradient(135deg, rgba(lighten($color__branding-black,5%),1) 0%, rgba(lighten($color__branding-black,5%),1) 40%, rgba(lighten($color__branding-black,15%),1) 50%, rgba($color__branding-black,1) 60%, rgba($color__branding-black,1) 100%);
      color: $color__branding-white;

      &:active {
        background: linear-gradient(135deg, rgba($color__branding-black,1) 0%, rgba($color__branding-black,1) 100%);
      }
    }

    &--white {
      background-image: linear-gradient(135deg, rgba(darken($color__branding-white,5%),1) 0%, rgba(darken($color__branding-white,5%),1) 40%, rgba(darken($color__branding-white,15%),1) 50%, rgba($color__branding-white,1) 60%, rgba($color__branding-white,1) 100%);
      color: $color__branding-black;

      &:active {
        background: linear-gradient(135deg, rgba(darken($color__branding-white, 15%),1) 0%, rgba(darken($color__branding-white, 15%),1) 100%);
      }
    }

    &--yellow {
      background-image: linear-gradient(135deg, rgba(darken($color__branding-yellow,5%),1) 0%, rgba(darken($color__branding-yellow,5%),1) 40%, rgba(darken($color__branding-yellow,15%),1) 50%, rgba($color__branding-yellow,1) 60%, rgba($color__branding-yellow,1) 100%);
      color: $color__branding-white;

      &:active {
        background: linear-gradient(135deg, rgba(darken($color__branding-yellow, 15%),1) 0%, rgba(darken($color__branding-yellow, 15%),1) 100%);
      }
    }
  }

  &--default {
  font-weight: 700;
    &--yellow {
      color: $color__branding-yellow;
    }
  }

  &__icon {
    font-size: .75em;
    height: 1em;
  }

  &__arrow {
    width: 26px;
    transition: .3s ease;

    .button:hover & {
      transform: translateX(6px);
    }

    &--reverse {
      transform: scaleX(-1);

      .button:hover & {
        transform: translateX(-6px) scaleX(-1);
      }
    }
  }
}