@import '/styles/global/variables';
@import '/styles/global/mixins';

.locationBlock {
  color: $color__text-light;

  &__title {
    @include font-size(15);
    text-transform: uppercase;
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .067em;
    color: $color__branding-white;
  }

  &__address {
    line-height: 2;

    p {
      margin: 0;
    }
  }

  a {
    color: $color__text-light;
    text-decoration: none;
  }

  &__phone,
  &__whatsapp {
    line-height: 2;
  }
}