.section {
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.2em;
    font-weight: 600;
    padding: 25px 24px;
    color: #191e49;
    background: #fff;
    text-transform: uppercase;
    border-top: 1px solid #e8e8e8;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      background: #e7dcff;
    }
    &:hover .section__arrow {
      color: #191e49;
    }
  }
  &__arrow {
    transition: all 300ms ease-in-out;
    font-size: 26px;
    color: #b4b4b4;
    font-weight: normal;
  }
}
.arrow--active {
  transform: rotate(90deg);
}
.arrow--default {
  transform: rotate(0deg);
}
.dropedDown {
  display: none;
}
